In [1]:
import pandas as pa

In [72]:
path_data = '/home/tkastylevsky/results/bedtools_analysis/whole_libwholeVSref_whole/'
path_besthits = path_data + ' best_hits_ whole_libwhole _on_ ref_whole'
path_missing_in_lib = path_data + 'ref_whole_absent_in_whole_libwhole.csv'
path_missing_in_ref = path_data + 'whole_libwhole_absent_in_ref_whole.csv'

In [73]:
best_hits_lib_on_ref = pa.read_csv(path_besthits)

In [69]:
best_hits_lib_on_ref.loc[best_hits_lib_on_ref.A_repeat_class == best_hits_lib_on_ref.B_repeat_class,'hit'] = 1

True_positives_total = best_hits_lib_on_ref.hit.count()
True_positives_class = best_hits_lib_on_ref.groupby('A_repeat_class').hit.count()

Total_lib_class=best_hits_lib_on_ref.groupby('A_repeat_class').size()

A_repeat_class
ARTEFACT                 5
DNA                  33246
LINE                204955
LTR                  22060
Low_complexity       52771
RC                     308
Retroposon               1
SINE                  5417
Satellite              606
Simple_repeat       288887
Unknown              23609
rRNA                   252
snRNA/tRNA/scRNA       449
dtype: int64

In [65]:
True_positives_class

A_repeat_class
ARTEFACT                 5
DNA                  28130
LINE                200925
LTR                  20078
Low_complexity       52135
RC                      38
Retroposon               0
SINE                  4084
Satellite              284
Simple_repeat       288156
Unknown               1784
rRNA                   234
snRNA/tRNA/scRNA       447
Name: hit, dtype: int64

In [66]:
missing_in_lib =pa.read_csv(path_missing_in_lib, sep = '\t')
missing_in_lib_split = missing_in_lib.repeat_class_family.str.split('/')
missing_in_lib['repeat_class'],missing_in_lib['repeat_family'] = missing_in_lib_split.str[0],missing_in_lib_split.str[1]

In [74]:
missing_in_ref =pa.read_csv(path_missing_in_ref, sep = '\t')
missing_in_ref_split = missing_in_ref.repeat_class_family.str.split('/')
missing_in_ref['repeat_class'],missing_in_ref['repeat_family'] = missing_in_ref_split.str[0],missing_in_ref_split.str[1]

In [75]:
False_positives=

,SW_score,whole_libwhole_ID,perc_div,perc_del,perc_ins,query_seq,pos_query_begin,pos_query_end,pos_query_left,strand,matching_repeat,repeat_class_family,pos_in_repeat_begin,pos_in_repeat_end,pos_in_repeat_left,TE_whole_libwhole_ID,star,repeat_class,repeat_family
0,263,1,21.8,6.2,11.2,chr1,6862,7223,(197601163),+,rnd-1_family-165,Unknown,92,423,(533),1,NaN,Unknown,NaN
1,694,4,26.2,9.9,2.0,chr1,16825,17108,(197591278),-,ltr-1_family-28,LTR/Unknown,(0),306,1,4,NaN,LTR,Unknown
2,394,5,29.9,3.2,0.6,chr1,17129,17283,(197591103),-,ltr-1_family-29,LTR/ERV1,(42),6785,6627,5,NaN,LTR,ERV1
3,394,6,33.2,0.7,2.3,chr1,17343,19335,(197589051),-,rnd-6_family-16370,LINE/CR1,(2931),738,605,6,NaN,LINE,CR1
4,229,7,28.5,1.3,9.3,chr1,19336,19486,(197588900),+,DF0001877,LINE/L1,546,685,(517),7,NaN,LINE,L1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131166,8252,763202,7.2,0.1,1.7,chrZ,82526191,82527170,(2751),+,rnd-1_family-71,LTR/ERVL,44,1192,(1),736363,NaN,LTR,ERVL
131167,5954,763204,7.8,3.1,0.4,chrZ,82527184,82528086,(1835),+,rnd-1_family-194,Unknown,1,927,(65),736366,*,Unknown,NaN
131168,824,763207,7.6,0.0,0.8,chrZ,82528906,82529025,(896),+,rnd-6_family-1740,Unknown,1,119,(0),736368,NaN,Unknown,NaN
131169,1036,763209,11.8,0.0,0.0,chrZ,82529750,82529919,(2),-,rnd-1_family-108,Unknown,(432),456,287,736370,NaN,Unknown,NaN
131170,532,763211,13.3,27.4,0.0,chrZ_NW_020109829v1_random,3225,3337,(12250),+,rnd-6_family-16370,LINE/CR1,882,1025,(2644),736372,*,LINE,CR1

In [68]:
False_Negatives = best_hits_lib_on_ref.chr.size - True_positives + missing_in_lib.SW_score.size
False_Negatives

104167

In [71]:
sensibility_total = True_positives_total/(True_positives_total+False_Negatives)
sensibility_total

0.8512892113404343

In [55]:
ans = missing_in_lib.groupby('repeat_class').size()
ans

repeat_class
ARTEFACT              2
DNA                9322
DNA?                625
LINE              16784
LTR                9004
LTR?                 47
Low_complexity     2300
RC?                  27
SINE               1683
Satellite         18071
Simple_repeat      9310
Unknown             678
rRNA                 13
snRNA                 6
tRNA                 29
dtype: int64