In [6]:
import pandas as pa
import numpy as np
import itertools
import csv

In [4]:
def out_to_gff(path,symbol):
    names_col_data = ['SW_score',"perc_div","perc_del","perc_ins", "query_seq", "pos_query_begin", "pos_query_end", "pos_query_left","strand", "matching_repeat", "repeat_class_family", "pos_in_repeat_begin", "pos_in_repeat_end", "pos_in_repeat_left", "TE_"+symbol+"_ID","star"]
    data = pa.read_csv(path,header = None, skiprows = 2, sep = '\s+', names = names_col_data)
    data['strand'] = data['strand'].replace('C','-')
    ID = symbol+"_ID"
    data.insert(1,ID,list(range(1,len(data)+1)))
    data_split = data.repeat_class_family.str.split('/',expand = True)
    data = data.join(data_split)
    data.columns = ['SW_score',ID,"perc_div","perc_del","perc_ins", "query_seq", "pos_query_begin", "pos_query_end", "pos_query_left","strand", "matching_repeat", "repeat_class_family", "pos_in_repeat_begin", "pos_in_repeat_end", "pos_in_repeat_left", "TE_"+symbol+"_ID","star","repeat_class"+symbol,"repeat_family"+symbol]
    data = data.drop('repeat_class_family', axis = 1)
    return data

In [7]:
path = "/home/tkastylevsky/FASTA_files/repeatmasker/gallus_gallus_proper/gallus_chr1_lib_whole_genome/chr1.fa.out"
symbol = "A"
out_to_gff(path,symbol)

,SW_score,A_ID,perc_div,perc_del,perc_ins,query_seq,pos_query_begin,pos_query_end,pos_query_left,strand,matching_repeat,pos_in_repeat_begin,pos_in_repeat_end,pos_in_repeat_left,TE_A_ID,star,repeat_classA,repeat_familyA
0,770,1,13.1,0.8,9.7,chr1,8,2000,(197606386),+,(CCCAAT)n,1,1833,(0),1,NaN,Simple_repeat,None
1,236,2,21.5,5.2,4.9,chr1,2004,2369,(197606017),-,rnd-1_family-157,(1136),256,1,2,NaN,Unknown,None
2,267,3,22.6,3.1,3.1,chr1,3194,3421,(197604965),-,rnd-1_family-157,(1150),242,15,3,NaN,Unknown,None
3,236,4,20.3,9.8,1.0,chr1,5132,5315,(197603071),-,rnd-1_family-157,(1136),256,57,4,NaN,Unknown,None
4,16,5,0.0,0.0,0.0,chr1,11446,11462,(197596924),+,(G)n,1,17,(0),5,NaN,Simple_repeat,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163554,759,163555,19.8,4.3,3.9,chr1,197606175,197606432,(1954),-,rnd-6_family-3463,(605),1200,942,159443,*,Satellite,None
163555,1214,163556,8.3,0.0,1.7,chr1,197606421,197606604,(1782),-,rnd-5_family-570,(7824),181,1,159444,NaN,Unknown,None
163556,7200,163557,4.5,2.4,0.1,chr1,197606608,197607552,(834),+,rnd-1_family-198,1,967,(1950),159445,NaN,Unknown,None
163557,2135,163558,3.2,1.4,1.1,chr1,197607586,197607867,(519),-,rnd-6_family-3462,(1014),283,1,159446,*,Unknown,None
163558,3672,163559,7.6,2.1,0.2,chr1,197607867,197608377,(9),+,rnd-1_family-198,961,1481,(1436),159445,NaN,Unknown,None